// Define variables for your color scheme

// For example:
$black: #080705;
$white: #fcfcfc;
$black-olive: #393e41;
$khaki: #bfb48f;
$teel: #588b8b;
$taupe: #493548;
$blue: #00aec8;
$tuskan: #e1d89f;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$light-gray: #F4F4F4;
