<div class="w50 flex-center">
	<div class="banner-text">
		<div class="rotating-text">
		    <p>Propulsez-vous<br>dans l’univers </p>
		    <p>
		        <span class="word black">du &#160; web</span>
		        <span class="word teel">du &#160; growth &#160; marketing</span>
		        <span class="word taupe">du &#160; SEO &#160; / &#160; SEA</span>
		        <span class="word khaki">de &#160; la &#160; création &#160; de &#160; site &#160; web</span>
		        <span class="word tuskan">de &#160; l'expérience &#160; utilisateur</span>
		        <span class="word blue">du &#160; design</span>
		    </p>
		</div>
		</p>
		<p class="banner-body-text">
			Pour attirer et<br>
			fidéliser vos clients
		</p>
		<%= image_tag(asset_path('rocket.svg'), class: "img-rocket", alt: "fusée") %>
	</div>
	<div class="floating-M">W</div>
</div>