<div class="w50 flex-center index1">
	<div class="banner-text">
		<div class="rotating-text mt-4">
			<h1 class="rb-55 teel h1 text-center">Agence marketing web<br>Aix-en-provence</h1>
			<p class="font-35 rt-25">
		        <span class="word black">améliorez &#160; un &#160; site &#160; existant</span>
		        <span class="word black">augmentez &#160; votre &#160; visibilité &#160; sur &#160; google</span>
		        <span class="word black">créez &#160; votre &#160; site &#160; web</span>
	    	</p>
	    	<div class="vide"></div>
		    <p class="khaki-font font-30 rt-80 rl-20">
		    	Propulsez-vous dans<br>
		    	l’univers du web
		    </p>
<!-- 		    <p>
		        <span class="word black">du &#160; web</span>
		        <span class="word teel">du &#160; growth &#160; marketing</span>
		        <span class="word taupe">du &#160; SEO &#160; / &#160; SEA</span>
		        <span class="word khaki">de &#160; la &#160; création &#160; de &#160; site &#160; web</span>
		        <span class="word tuskan">de &#160; l'expérience &#160; utilisateur</span>
		        <span class="word blue">du &#160; design</span>
		    </p> -->
		</div>
		<!-- <div class="vide2"></div>
		<p class="banner-body-text">
			Pour attirer et<br>
			fidéliser vos clients
		</p> -->
	</div>
</div>