<div class="w50 flex-center index1">
	<div class="banner-text">
		<div class="rotating-text mt-4">
			<h1 class="rb-55 teel h1 text-center">Agence marketing web <br>Aix-en-provence</h1>
			<p class="font-35 rt-25 rotating-text-word">
		        <span class="word black">améliorez &#160; un &#160; site &#160; existant</span>
		        <span class="word black">améliorez &#160; votre &#160; référencement</span>
		        <span class="word black">créez &#160; votre &#160; site &#160; web</span>
	    	</p>
	    	<p class="font-35 rt-25 rotating-text-p black">améliorez un site existant</p>
		    <p class="font-35 rt-25 rotating-text-p black">augmentez votre référencement</p>
		    <p class="font-35 rt-25 rotating-text-p black">créez votre site web</p>
	    	<div class="vide"></div>
		    <p class="khaki-font font-30 rt-80 rl-20">
		    	Propulsez-vous dans<br>
		    	l’univers du web
		    </p>
		</div>
	</div>
</div>