<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
        	<div class="slide-banner">
                <%= render "shared/banner-text", myclass: true %>
                <div class="div-img-banner img-banner-1"></div>
			</div>
        </div>
        <div class="swiper-slide">
			<div class="slide-banner">
                <%= render partial:"shared/banner-text", myclass: false %>
                <div class="div-img-banner img-banner-2"></div>
			</div>
        </div>
        <div class="swiper-slide">
            <div class="slide-banner">
                <%= render partial:"shared/banner-text", myclass: false %>
                <div class="div-img-banner img-banner-3"></div>
            </div>
        </div>
        <div class="swiper-slide">
			<div class="slide-banner">
                <%= render partial:"shared/banner-text", myclass: false %>
                <div class="div-img-banner img-banner-4"></div>
			</div>
        </div>
    </div>
</div>