<div class="presentation flex-center bg-khaki flex-column">
	<div class="h1-container">
		<h2 class="h2 black m-0">
			L'agence de Web marketing à Aix en provence
		</h2>
	</div>
	<div class="cent80 flex-around mb-3">
		<p class="self-start ml-4 mt-4 black">
			Dans le Web, la stratégie digitale est essentielle. C’est le fondement de votre réussite.<br>
			Contactez-nous pour créer des sites web engageants et optimisés pour le référencement<br>
		</p>
		<%= image_tag(asset_path('growth.svg'), alt: 'icone croissance', class: 'growth-icon') %>
	</div>
</div>
<div class="footer flex-center bg-khaki py-5">
	<div class="logo flex-column mr5">
		<%= image_tag(asset_path('Growth-marketing.png'), alt: 'logo data web univers footer', class: 'img_footer') %>
	</div>
	<div class="contactez-nous flex-column ml5">
		<h2>Contactez-nous</h2>
		<p>Théo Dumez</p>
		<%= link_to((contacts_path), title: "Contactez-nous", rel: "nofollow") do %>
			<p class="mail-black">Contactez-nous</p>
		<% end %>
		<p>06.43.42.46.07</p>
	</div>
</div>
<div class="footer flex-center bg-khaki py-2 flex-column">
	<div class="ligne"></div>
	<p class="font-16 footer-text text-center"> © 2020 Dataweb Univers | Théo Dumez | Agence webmarketing et référencement Aix-en-Provence Marseille | Mentions Légales | Tous droits réservés</p>
</div>
