<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h5 class="modal-title" id="ModalCenterTitle">Informations relatives au coronavirus</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
		    </div>
		    <div class="modal-body">
		      	<div class="flex-center relative r-23">
		      		<%= image_tag(asset_path('Growth-marketing.png'), alt: 'Agence marketing web Aix en provence logo data web univers modal', class: 'img_navbar mr-3') %>
					<p class="ml-5"><span class="black-olive">Data</span><span class="teel">Web</span> <span class="blue">Univers</span></p>
		      	</div>
		      	<p>Dans ce contexte exceptionnel, notre équipe reste malgré tout disponible, en télétravail, pour maintenir, développer ou réaliser vos projets.</p>
		        <p>Pour toute la durée du confinement, conscients des difficultés financières auxquelles vous pouvez faire face, <strong>tous nos tarifs ont été divisé par 2</strong>.</p>
				<p>Restons solidaire.<p>
				<p>
					Bien à vous,<br>
					la team Dataweb Univers.
				</p>
			</div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    </div>
	    </div>
	</div>
</div>