<div class='navbar'>
	<div class="flex-center">
		<div class='logo'>
			<%= link_to((root_path), title: "Accueil") do %>
				<%= image_tag(asset_path('Growth-marketing.png'), alt: 'agence marketing web Aix en provence Dataweb Univers logo', class: 'img_navbar mr-3') %>
			<% end %>
		</div>
		<h2 class="ml-5"><span class="black-olive">Data</span><span class="teel">Web</span> <span class="blue">Univers</span></h2>
	</div>
	<div class='nav-links'>
		<p class="mx-4 taupe theo">Théo Dumez</p>
		<p class="mx-4 teel mail">data.univers.theo@gmail.com</p>
		<p class="mx-4 blue telephone">06.43.42.46.07</p>
	</div>
</div>