<% content_for :meta_title, "Agence marketing web Aix en provence – SEO – site internet" %>
<% content_for :meta_description, "Créez / Optimiser votre site web ou son référencement | Dataweb Univers : agence de marketing web SEO et développement à aix en provence – Théo Dumez" %>
<% content_for :meta_robots, "noindex" %>

<%= render "shared/navbar" %>

<div class="flex-center flex-column w100">
	<h1 class="h1 black text-center">Ohoh. Rien ici.</h1>
	<p class="black-olive text-center">La page que vous cherchez n'existe pas (404).</p>
	<p class="black-olive text-center">
		Vous avez peut-être mal saisi l'adresse ou la page a pu être déplacée.<br>
		Si vous êtes perdu, vous pouvez revenir à la page d'accueil.
	</p>
	<%= image_tag(asset_path('page_not_found.svg'), alt: 'page not found', class: 'page_not_found') %>
</div>