.banner{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100vw;
	height: auto;
	position: relative;
}

.banner-text{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
}

.banner-body-text{
	margin: 100px 0 50px 10%;
	font-size: 25px;
	letter-spacing: .2rem;
	color: $blue;
}

.img-banner{
	max-width: 60vw;
	max-height: 78vh;
}

.floating-M{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 1000px;
	line-height: 100%;
	display: flex;
	align-items: center;
	color:
	rgba(0, 0, 0, 0.03);
	transform: rotate(-12deg);
	position: absolute;
	top: -103px;
}