.banner-text{
	display: flex
}

.img-banner{
	max-width: 40%;
	background-color: $white;
	max-height: 50%;
}
.div-img-banner{
	background-size: cover;
	background-position: center;
	height: 80vh;
	width: 45vw;
}

.img-banner-1{
	background-image: url(asset-path('Launch.png'));
}

.img-banner-2{
	background-image: url(asset-path('App-Development.png'));
}

.img-banner-3{
	background-image: url(asset-path('Meeting.png'));
}

.img-banner-4{
	background-image: url(asset-path('Meeting2.png'));
}

.slide-banner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	padding: 20px 80px;
}

.banner-vide{
	width: 20%;
}

.cent{
	width: 100%;
}

.vertical-text{
	transform: rotate(-90deg);
	position: absolute;
	left: 70px;
	bottom: 100px;
	font-size: 12px;
	color: $black;
}

.arrow{
  transform: rotate(90deg);
  position: relative;
  right: 30px;
}

.banner-body-text{
	position: absolute;
	left: 12%;
	bottom: 20%;
	font-family: $body-font;
	font-size: 25px;
	letter-spacing: 0.12em;
	color: $blue;
}