.black-olive {
  color: $black-olive;
}

.black {
  color: $black;
}

.khaki {
  color: $khaki;
}


.khaki-font {
  color: $khaki !important;
}

.taupe {
  color: $taupe;
}

.teel {
  color: $teel;
}

.white {
	color: $white;
}

.blue {
  color: $blue;
}

.bg-tuskan{
  background-color: $tuskan;
}

.bg-black-olive {
  background-color: $black-olive;
}

.bg-black {
  background-color: $black;
}

.bg-khaki {
  background-color: $khaki;
}

.bg-taupe {
  background-color: $taupe;
}

.bg-teel{
  background-color: $teel;
}

.bg-tuskan{
  background-color: $tuskan;
}

.bg-white{
	background-color: $white;
}