.black-olive {
  color: $black-olive;
}

.black {
  color: $black !important;
}

.khaki {
  color: $khaki;
}

.khaki-font {
  color: $khaki !important;
}

.jaune {
  color: $jaune;
}

.jaune-font {
  color: $jaune !important;
}

.rose {
  color: $rose;
}

.rose-font {
  color: $rose !important;
}

.taupe {
  color: $taupe;
}

.taupe-font {
  color: $taupe !important;
}

.rouge {
  color: $rouge;
}

.rouge-font {
  color: $rouge !important;
}

.teel {
  color: $teel;
}

.white {
	color: $white;
}

.blue {
  color: $blue;
}

.bg-tuskan{
  background-color: $tuskan;
}

.bg-black-olive {
  background-color: $black-olive;
}

.bg-black {
  background-color: $black;
}

.bg-khaki {
  background-color: $khaki;
}

.bg-taupe {
  background-color: $taupe;
}

.bg-teel{
  background-color: $teel;
}

.bg-tuskan{
  background-color: $tuskan;
}

.bg-white{
	background-color: $white;
}

.bg-F5F7FB{
  background-color: #F5F7FB;
}

.color-616671{
  color: #616671;
}