.h1-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $teel;
	z-index: 1;
}

.presentation{
	position: relative;
	width: auto;
	padding: 45px 0px;
	margin: 50px auto;
}

.nos-leviers{
	width: 100%;
	padding: 45px 0px;
	margin: 40px auto;
	position: relative;
}

.levier {
	margin: 0 36px;
	width: 250px;
	height: 180px;
}

.levier p{
	text-align: center;
}

.agence{
	margin: 100px auto;
}

.agence-text{
	width: 70%;
	margin-left: 10%;
}

.justify{
	text-align: justify;
}