.h1-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $teel;
	z-index: 1;
}

.presentation{
	position: relative;
	width: auto;
	padding: 45px 0 0 0;
	margin: 50px auto 0 auto;
}

.nos-leviers{
	width: 100%;
	padding: 0 0 45px 0;
	margin: 200px auto;
	position: relative;
}

.levier {
	margin: 0 36px;
	width: 250px;
	height: 180px;
}

.levier p{
	text-align: center;
}

.agence{
	margin: 100px auto;
	position: relative;
}

.agence-text{
	width: 80%;
	margin-left: 10%;
}

.referencement {
	width: 100%;
	margin: 100px 0;
	height: 650px;
}

.referencement-column{
	width: 266px;
	margin-top: 20px;
}

.text-siteweb {
	width: 20%;	
}

.site-column{
	width: 300px;
}

.justify{
	text-align: justify;
}

.vide{
	width: 100%;
	height: 130px;	
}

.vide2{
	width: 100%;
	height: 58px;	
}

.ligne{
	height: 2px;
	width: 70%;
	border-top: 0.2px solid $black-olive;
}