.h1-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $teel;
	z-index: 1;
}

.presentation{
	position: relative;
	width: auto;
	padding: 45px 0 0 0;
	margin: 50px auto 0 auto;
}

.nos-leviers{
	width: 100%;
	padding: 0 0 45px 0;
	margin: 200px auto;
	position: relative;
}

.levier {
	margin: 0 36px;
	width: 250px;
	height: 180px;
}

.levier p{
	text-align: center;
}

.agence{
	margin: 100px auto;
	position: relative;
}

.agence-text{
	width: 80%;
	margin-left: 10%;
}

.referencement {
	width: 100%;
	margin: 100px 0;
	height: 650px;
}

.referencement-column{
	width: 266px;
	margin-top: 20px;
}

.referencement-column2{
	width: 321px;
	margin-top: 20px;
}

.text-siteweb {
	width: 20%;	
}

.site-column{
	width: 300px;
}

.competences{
	width: 80%;
	margin: auto;
}

.competence-ligne1{
	width: 70%;
}

.graphique{
	bottom: 8px;
}

.ux{
	top: 8px;
}

.competence-ligne2{
	width: 100%;
	margin-top: 100px;
}

.refonte{
	top: 40px;
}

.nos-competences{
	margin-top: 50px;
	position: relative;
	bottom: 50px;
}

.confiance-section{
	width: 100%;
	margin: 50px 0 100px 0;
	padding: 50px 0;
	height: auto;
	position: relative;
}

.competence-ligne3{
	width: 90%;
	margin-top: 50px;
}

.competence-ligne4{
	margin-top: 50px;
}

.contact-text{
	width: 80%;
}

.qu-est-ce-que-le-seo{
	width: 80%;
}

.qu-est-ce-que-le-seo-text{
	width: 70%;
}

.articles-index{
	width: 85%;
	margin: 50px auto 50px auto;
}

.articles{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.article{
	width: 48%;
	padding: 20px;
}

.blog-show{
	width: 70%;
}

.blog-autres{
	width: 300px;
}

.carre-partage{
	border: 2px solid #00AEC8;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
}

.partager{
	background: #00AEC8;
	border-radius: 4px 4px 0px 0px;
	height: 124px;
	width: 100%;
}

.liens-partage{
	height: 150px;
	width: 100%;
}

.newletter{
	width: 100%;
	height: 124px;
	background: #00AEC8;
	border-radius: 0px 0px 4px 4px ;
}

.carre-design{
	position: sticky;
	top: -950px;
}

.commentaires{
	width: 100%;
	margin: 20px 0;
	padding: 20px 0;
}

.commentaires-index{
	width: 80%;
	margin: 20px auto;
}

.comment-box {
	border-top: 1px solid #e4e8ee;
	border-bottom: 1px solid #e4e8ee;
}

.btn-newletter{
	padding: 0 30px;
	background-color: $white;
	border-radius: 50px;
	margin-top: 20px;
}

.like-nbr{
	background-color: $blue;
	border-radius: 10px;
	padding: 0 10px;
}

.link-like {
	width: 170px;
	padding: 10px 10px;
	border-radius: 15px;
}

.justify{
	text-align: justify;
}

.vide{
	width: 100%;
	height: 130px;	
}

.vide2{
	width: 100%;
	height: 58px;	
}

.ligne{
	height: 2px;
	width: 70%;
	border-top: 0.2px solid $black-olive;
}