.form-control{
	border: 0.5px solid #f0f0f0;
	background-color: #F5F7FB;
	border-radius: 10px;
}

textarea.form-control {
    min-height: 150px;
}

.btn-primary {
    color: #fcfcfc;
	background-color: $blue;
	border-color: $blue;
	border-radius: 10px;
}