.growth-icon{
	width: 80px;
	height: auto;
}

.card_img{
	width: 40px;
	height: auto;
	background-color: $white;
}

.cercle{
	border: 2px solid $black-olive;
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: $white;
}

.fond-1{
	
}

.fond-2{
	
}

.fond-3{
	
}