.background-vector-img{
	position: absolute;
	right: 0px;
}

.rocket-ellipse-img{
	position: absolute;
	bottom: -127px;
	left: 27%;
}

.ellipse8-img{
	position: absolute;
	top: 100px;
	left: 5%;
}

.cercle-banner1{
	position: absolute;
	bottom: 30%;
	left: 40%;
}

.cercle-banner2{
	position: absolute;
	bottom: 26%;
	left: 40%;
}

.cercle-banner3{
	position: absolute;
	bottom: 22%;
	left: 40%;
}

.ellipse-confiance{
	right: 5%;
	bottom: 20px;
}

.growth-icon{
	width: 80px;
	height: auto;
}

.logo-confiance{
	height: 100px;
	width: auto;
}

.card_img{
	width: 40px;
	height: auto;
	background-color: $white;
}

.cercle{
	border: 2px solid $black-olive;
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: $white;
}

.cercle-site{
	width: 309px;
	bottom: -42px;
}

.cercle-site2{
	width: 309px;
	top: -96px;
}

.cercle-site3{
	width: 309px;
	bottom: -84px;
}

.cercle-site4{
	width: 309px;
	left: 50%;
	bottom: 6%;
}

.cercle-site5{
	width: 350px;
	left: 35%;
	bottom: 0;
}

.cercle-site6{
	width: 350px;
	left: 35%;
	bottom: -100px;
}

.cercle-site7{
    width: 400px;
    left: 35%;
    bottom: 0;
}

.img-rocket{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 25vw;
	bottom: 20%;
}

.agence-img{
	background-image: url(asset-path('Meeting2.png'))
}

.background-img{
	background-size: cover;
	background-position: center;
}

.img-curve-left{
	left: 73px;
	top: -100px;
}

.img-curve-left2{
    top: -99px;
    width: 350px;
    left: 0;
}

.img-curve-left3{
    top: -88px;
    width: 100%;
    left: -10px;
}

.img-curve-left4{
    top: -133px;
    width: 100%;
    left: -10px;
}

.img_navbar{
	width: 70px;
	height: auto;
	position: relative;
	left: 40px;
	margin: 20px 0;
}

.img_footer{
	width: 100px;
	height: auto;
	position: relative;
	left: 40px;
	margin: 20px 0;
}

.nos-competences-img{
	top: -89px;
	left: 139px;
	width: 300px;
}

.refrencement-img-page{
	width: 20%;
	margin: 0 0 0 50px;
}

.refrencement-img-page2{
	width: 300px;
	height: 300px;
	right: 0;
	top: 35%;
}

.img-contact-form{
	width: 50%;
	max-height: 75vh;
}

.img-contact-form2{
	width: 50%;
	max-height: 70vh;
}

.img-contact-congrate{
	max-width: 50%;
	max-height: 600px;
}

.img-blog_view{
	width: 75%;
	height: auto;
}

.img-little-blog{
	max-width: 100%;
	max-height: 300px;
	margin: 0 auto;
}

.img-bin{
	top: 30px;
	right: 30px;
	width: 30px;
}

.img-edit{
	bottom: 20px;
	right: 30px;
	width: 20px;
}

.img-like{
	width: 18px;
}

.img-arrow-blog{
	width: 38px;
}

.img-contact-show-blog{
	width: 200px;
}

.liste-boule{
	width: 22px;
}

.page_not_found{
	width: 70%;
	margin-top: 40px;
}

.access_denied{
	width: 300px;
	margin-top: 40px;
}

.server_down{
	width: 70%;
	margin-top: 40px;
}