.img_navbar{
	width: 104px;
	height: auto;
	position: relative;
	left: 40px;
}

.navbar{
	width: 99vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0px;
	background-color: $white;
	z-index: 200;
	flex-flow: row nowrap;
	position: sticky;
    top: 0px;
}

.nav-links{
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-link{
	margin: auto 8px;
	font-size: 16px;
	text-decoration: none;
	color: $black;
}