.navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0px;
	background-color: $white;
	z-index: 200;
	flex-flow: row nowrap;
	position: sticky;
    top: 0px;
}

.nav-links{
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-link{
	margin: auto 8px;
	font-size: 16px;
	text-decoration: none;
	color: $black;
}

.nodecoration:hover{
	text-decoration: none;
}

.mail{
	border-bottom: 1px solid $teel;
}