.inline{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.m-0{
	margin: 0;
}

.mr5{
	margin-rigth: 5%;
}

.ml5{
	margin-left: 5%;
}

.self-start{
	align-self: flex-start;
}

.cent80{
	width: 80%;
	margin: auto;
}

.flex-around{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.flex-center{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.flex-end{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-end;
}

.flex-between{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.flex-row{
	flex-flow: row wrap;
}

.flex-column{
	flex-flow: column nowrap;
}

.hidden{
	visibility: hidden;
}

.index1{
	z-index: 1;
}

.font-16{
	font-size: 16px;
}

.w50{
	width: 49vw;
}

.w50-h483{
	width: 50%;
	height: 483px;
}

.w40-h483{
	width: 40%;
	height: 483px;
}

.rb-110{
	position: relative;
	bottom: 110px;
}

.rb-55{
	position: relative;
	bottom: 55px;
}

.rt-80{
	position: relative;
	top: 80px;
}

.rl-20{
	position: relative;
	left: 20%;	
}

.rt-25{
	position: relative;
	top: 25px;	
}

.font-25{
	font-size: 2.5vw;
}

.font-16{
	font-size: 16px;
}