.m-0{
	margin: 0;
}

.mr5{
	margin-rigth: 5%;
}

.ml5{
	margin-left: 5%;
}

.cent80{
	width: 80%;
	margin: auto;
}

.hidden{
	visibility: hidden;
}

.relative{
	position: relative;
}

.absolute {
	position: absolute;
}

.index1{
	z-index: 1;
}

.index0{
	z-index: 0;
}

.w100{
	width: 100%;
}

.w50{
	width: 49vw;
}

.w50-h483{
	width: 50%;
	height: 483px;
}

.w40-h483{
	width: 40%;
	height: 483px;
}

.rb-110{
	position: relative;
	bottom: 110px;
}

.rb-55{
	position: relative;
	bottom: 55px;
}

.rt-80{
	position: relative;
	top: 80px;
}

.rl-20{
	position: relative;
	left: 20%;	
}

.rt-25{
	position: relative;
	top: 25px;	
}

.t-14{
	top: 14px;
}