@media (max-width: 1551px) {
    .img-SEO{
		width: 250px;
	}
	.img-banner {
    	max-width: 35vw;
    }
    .rb-55{
		bottom: 0;
	}
	.rocket-ellipse-img{
		display: none;
	}
	.rotating-text{
		width: 60vw;
	}
    .rotating-text p .word{
        left: 100px;
    }
}

@media (max-width: 1433px) {
    .img-SEO{
		width: 200px;
	}
	.rb-55{
		bottom: 0;
	}
}

@media (max-width: 1424px) {
    .fond-levier1, .fond-levier3{
		display: none;
	}
}

@media (max-width: 1383px) {
    .img-SEO{
		display: none;
	}
}

@media (max-width: 1365px) {
    .rotating-text p {
    	font-size: 30px;
    }
}

@media (max-width: 1161px) {
    .growth-icon {
    	display: none;
    }
}

@media (max-width: 1131px) {
    .h1 {
        margin-left: 10px;
    }
}

@media (max-width: 1087px) {
    .rotating-text p .word{
        left: 50px;
    }
}

@media (max-width: 1070px) {
    .telephone {
    	display: none;
    }
    .h1 {
    	font-size: 30px;
    }
    .img-curve{
    	display: none;
    }
    .referencement{
    	background-color: #f5f7fb;
    }
}

@media (max-width: 1052px) {
    .img-banner-section {
    	display: none;
    }
    .w50{
    	width: 100%;
    }
    .rotating-text {
	    width: 100%;
	}

    .rotating-text p {
        text-align: center;
    }

    .rotating-text p .word{
        left: 0px;
    }
    .banner-text {
        margin-left: 0px;
    }
    .cent80 {
        width: 100%;
        margin: 0 20px;
    }
}

@media (max-width: 966px) {
    .rb-110{
        bottom: 0;
    }
}

@media (max-width: 935px) {
    .budget, .maquettage, .h1-container{
        margin-left: 20px;
        line-height: 127%;
    }
}

@media (max-width: 921px) {
    .rotating-text p .word{
        left: -100px;
    }
}

@media (max-width: 849px) {
    .theo{
        display: none;
    }
}

@media (max-width: 724px) {
    .referencement-column {
        margin-top: 40px;
    }
}

@media (max-width: 699px) {
    .rotating-text .rotating-text-word{
        display: none;
    }
    .rotating-text .rotating-text-p{
        display: flex;
        flex-direction: column;
    }
    .rl-20 {
        left: 0;
    }
    .rt-80 {
        top: 0;
    }
}

@media (max-width: 699px) {
    .rotating-text .rotating-text-word{
        display: none;
    }
    .rotating-text .rotating-text-p{
        display: flex;
        flex-direction: column;
    }
    .referencement {
        height: auto;
    }
}

@media (max-width: 604px) {
    .site-column {
        margin-bottom: 80px;
    }
}

@media (max-width: 577px) {
    .agence-img{
        display: none;
    }
    .w50-1{
        width: 100%;
    }
    h2{
        margin: 0 20px;
    }
}

@media (max-width: 470px) {
    .mail{
        display: none;
    }
}