@media (max-width: 1551px) {
    .img-SEO{
		width: 250px;
	}
	.img-banner, img-banner2, img-banner3 {
    	max-width: 35vw;
    }
    .rb-55{
		bottom: 0;
	}
	.rocket-ellipse-img{
		bottom: -176px;
        left: 30%;
        width: 250px;
	}
	.rotating-text{
		width: 60vw;
	}
    .rotating-text p .word{
        left: 100px;
    }
}

@media (max-width: 1600px) {
    .background-vector-img{
        width: 45%;
    }
}

@media (max-width: 1433px) {
    .img-SEO{
		width: 200px;
	}
	.rb-55{
		bottom: 0;
	}
}

@media (max-width: 1424px) {
    .fond-levier1, .fond-levier3{
		display: none;
	}
    .rocket-ellipse-img{
        bottom: -176px;
        left: 39%;
        width: 250px;
    }
}

@media (max-width: 1383px) {
    .img-SEO{
		display: none;
	}
}

@media (max-width: 1365px) {
    .rotating-text p {
    	font-size: 30px;
    }
}

@media (max-width: 1179px) {
    .graphique{
        bottom: 0px;
    }
    .ux{
        top: 0px;
    }
    .refonte{
        top: 0px;
    }
    .competence-ligne2{
        margin-top: 0;
    }
    .competence-ligne4{
        margin-top: 0;
    }
    .nos-competences{
        bottom: 0px;
    }
    .charte-graphique{
        display: none;
    }
    .UX-design{
        display: none;
    }
    .trafic-img{
        display: none;
    }
    .communication-img{
        display: none;
    }
    .refrencement-img{
        display: none;
    }
}

@media (max-width: 1161px) {
    .growth-icon {
    	display: none;
    }
    .swiper-container {
        width: 100%;
    }
}

@media (max-width: 1131px) {
    .h1 {
        margin-left: 10px;
    }
    .img-curve-left2{
        display: none;
    }
}

@media (max-width: 1087px) {
    .rotating-text p .word{
        left: 50px;
    }
}

@media (max-width: 1070px) {
    .h1 {
    	font-size: 30px;
    }
    .img-curve{
    	display: none;
    }
    .referencement{
    	background-color: #f5f7fb;
        height: auto;
    }
}

@media (max-width: 1052px) {
    .img-banner-section {
    	display: none;
    }
    .w50{
    	width: 100%;
    }
    .rotating-text {
	    width: 100%;
	}

    .rotating-text p {
        text-align: center;
    }

    .rotating-text p .word{
        left: 0px;
    }
    .banner-text {
        margin-left: 0px;
    }
    .cent80 {
        width: 100%;
        margin: 0 20px;
    }
    .referencement {
        margin-top: 150px;
    }
    .comment-title{
        margin-top: 100px;
    }
}

@media (max-width: 966px) {
    .rb-110{
        bottom: 0;
    }
}

@media (max-width: 935px) {
    .budget, .maquettage, .h1-container{
        margin-left: 20px;
        line-height: 127%;
    }
}

@media (max-width: 921px) {
    .rotating-text p .word{
        left: -100px;
    }
}

@media (max-width: 901px) {
    .img_footer{
        left: 9px;
    }
}

@media (max-width: 874px) {
    .refrencement-img-page2{
        display: none;
    }
}

@media (max-width: 744px) {
    .rl-10 {
        position: relative;
        left: 0;
    }
}

@media (max-width: 724px) {
    .referencement-column {
        margin-top: 40px;
    }
    .referencement-column2 {
        margin-top: 40px;
    }
}

@media (max-width: 699px) {
    .rotating-text .rotating-text-word{
        display: none;
    }
    .rotating-text .rotating-text-p{
        display: flex;
        flex-direction: column;
    }
    .rl-20 {
        left: 0;
    }
    .rt-80 {
        top: 0;
    }
    .refrencement-img-page{
        display: none;
    }
    .qu-est-ce-que-le-seo-text{
        width: 100%;
    }
    .rotating-text .rotating-text-word{
        display: none;
    }
    .rotating-text .rotating-text-p{
        display: flex;
        flex-direction: column;
    }
    .referencement {
        height: auto;
    }
}

@media (max-width: 644px) {
    .cercle-site7{
        left: 0;
    }
    .cercle-site4{
        left: 0;
    }
}

@media (max-width: 619px) {
    .nos-competences-img {
        top: -39px;
        left: 112px;
    }
    .site-column {
        margin-bottom: 116px;
    }
}

@media (max-width: 604px) {
    .maquettage{
        display: none;
    }
}

@media (max-width: 587px) {
    .img-curve-left {
        left: 0;
        width: 400px;
    }
}

@media (max-width: 577px) {
    .agence-img{
        display: none;
    }
    .w50-1{
        width: 100%;
    }
    h2{
        margin: 0 20px;
    }
    .background-vector-img{
        display: none;
    }
}

@media (max-width: 564px) {
    .cercle-site5{
        left: 0;
    }
    .cercle-site6{
        left: 0;
    }
}

@media (max-width: 507px) {
    .confiance-section{
        display: none;
    }
}

@media (max-width: 451px) {
    .nos-competences-img {
        left: 63px;
    }
}

@media (max-width: 445px) {
    .cercle-site7{
        display: none;
    }
}

@media (max-width: 409px) {
    .rocket-ellipse-img {
        left: 20%;
    }
    .nos-competences-img {
        left: 12px;
    }
}

@media (max-width: 401px) {
    .img-curve-left, .img-curve-left2 {
        left: 0;
        width: 300px;
    }
    .img_navbar{
        left: 9px;
    }
    .cercle-site5{
        display: none;
    }
    .cercle-site6{
        display: none;
    }
}

@media (max-width: 366px) {
    .ml-5, .mx-5 {
        margin-left: 1rem !important;
    }
    .mr-5, .mx-5 {
        margin-right: 1rem !important;
    }
}

@media (max-width: 358px) {
    .background-vector-img{
        display: none;
    }
    .ellipse8-img{
        display: none;
    }
    .rocket-ellipse-img{
        left: 17%;
    }
}

@media (max-width: 351px) {
    .nos-competences-img {
        left: 0;
    }
}

@media (max-width: 349px) {
    .nos-competences-img {
        width: 279px;
    }
}

@media (max-width: 301px) {
    .img-curve-left, .img-curve-left2 {
        left: 0;
        width: 200px;
    }
}