.rotating-text {
  font-family: $headers-font;
  font-size: 53px;
  font-weight: 500;
  line-height: 180%;
  color: $black;
  margin: 100px 0 0 0;
  background-color: transparent;
}

.rotating-text p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  margin: 0;
  font-family: $headers-font;
  letter-spacing: 0.12em;
}

.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.rotating-text p .word .letter {
  transform-origin: center center 25px;
}

.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}

.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}