.font-35 {
	font-size: 35px;
}

.font-30 {
	font-size: 30px;
}

.font-25 {
	font-size: 2.5vw;
}

.font-25px {
	font-size: 25px;
}

.font-20 {
	font-size: 20px;
}

.font-18 {
	font-size: 18px;
}

.font-16 {
	font-size: 16px;
}

.text-left{
	text-align: left;
}

.text-600 {
	font-weight: 600;
}

.text-800 {
	font-weight: 800;
}

.letter-014{
	letter-spacing: 0.14em;
}

.letter-009{
	letter-spacing: 0.09em;
}

.italic{
	font-style: italic;
}

.line-height-116{
	line-height: 116%;
}

.description-blog p{
	font-size: 18px;
	margin-top: 10px;
}