.h1, .h2, .h3{
	color: $teel;
	letter-spacing: 0.12em;
}

.h1{
	text-align: center;
	font-size: 30px;
	line-height: 180%;
	font-weight: 500;
}

.h2{
	font-size: 30px;
	text-align: left;
	line-height: 140%;
	font-weight: 600;
}

p {
	margin: 20px 0 0 0;
	color: $black;
	line-height: 200%;
}