.sous-titre{
	margin: 0 auto;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-mentions-legales{
	width: 90%;
	margin: 0 auto;
}

.description-mentions-legales p{
	font-size: 18px;
	margin-top: 10px;
	line-height: 29px;
}